<!DOCTYPE html>
<html data-theme="rounded" class="h-full overflow-hidden overscroll-none">
  <head>
    <title><%= content_for(:title) || "Dummy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Dummy">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flat_pack/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flat_pack/rich_text", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 h-full overflow-hidden overscroll-none bg-[var(--surface-page-background-color)] text-[var(--surface-content-color)]">
    <%= render FlatPack::SidebarLayout::Component.new(side: :left, storage_key: "flat-pack-sidebar-layout") do |layout| %>
      <% layout.sidebar do %>
        <%= render "layouts/flat_pack/sidebar", sidebar_side: :left %>
      <% end %>

      <% layout.top_nav do %>
        <%= render "layouts/flat_pack/top_nav" %>
      <% end %>

      <% layout.main do %>
        <main class="h-full overflow-auto p-6">
          <%= yield %>
        </main>
      <% end %>
    <% end %>
  </body>
</html>
